.ratio {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray500);
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        border-color: var(--primary);
    }
    &.checked {
        border: 6px solid var(--primary);
        &:after {
        opacity: 1;
        }
    }
    &.disabled {
        cursor: not-allowed;
        border: 1px solid var(--gray500);
        background-color: var(--gray100);
        opacity: 0.5;
    }
    & > .checkmark {
        font-size: 24px;
        color: var(--gray100);
    }
}