.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 46px;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: var(--primary);
        opacity: .8;
    }
    &:active {
        background-color: var(--primary);
        opacity: .9;
    }
    &:disabled {
        background-color: var(--gray200) !important;
        border: none;
        cursor: not-allowed;
        & > .content {
            color: var(--gray500) !important;
        }
    }
    & > .content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: var(--helper);
        font-family: 'Open Sans', sans-serif;
        color: var(--gray100);
        text-align: center;
    }
}

.link {
    font-size: var(--helper);
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: var(--primary);
    }
}