.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 36px;
    padding: 0 20px;
    font-size: var(--helper);
    font-family: 'Open Sans', sans-serif;
    color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--primary);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: .9;
    }
    &:disabled {
        background-color: var(--gray200) !important;
        border: none;
        cursor: not-allowed;
        & > .content {
            color: var(--gray500) !important;
        }
    }
    &.selected {
        background-color: var(--primary);
        color: var(--gray100);
    }
}